# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [82]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [83]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'
df_food = pd.read_csv(food_data_set_path)
print(df_food.head())

     GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
0    2.4       2          1               430           NaN           315.0
1  3.654       1          1               610           3.0           420.0
2    3.3       1          1               720           4.0           420.0
3    3.2       1          1               430           3.0           420.0
4    3.5       1          1               720           2.0           420.0

   coffee                      comfort_food        comfort_food_reasons  \
0       1                              none       we dont have comfort
1       2       chocolate, chips, ice cream        Stress, bored, anger
2       2   frozen yogurt, pizza, fast food             stress, sadness
3       2  Pizza, Mac and cheese, ice cream                     Boredom
4       2      Ice cream, chocolate, chips   Stress, boredom, cravings

   comfort_food_reasons_coded  ...  soup  sports  thai_food tortilla_calories  \
0                         9.0  ...   1.0     1.0          1            1165.0
1                         1.0  ...   1.0     1.0          2             725.0
2                         1.0  ...   1.0     2.0          5            1165.0
3                         2.0  ...   1.0     2.0          5             725.0
4                         1.0  ...   1.0     1.0          4             940.0

   turkey_calories  type_sports veggies_day  vitamins  waffle_calories  \
0              345   car racing           5         1             1315
1              690  Basketball            4         2              900
2              500         none           5         1              900
3              690          NaN           3         1             1315
4              500     Softball           4         2              760

                     weight
0                       187
1                       155
2  I'm not answering this.
3             Not sure, 240
4                       190

[5 rows x 61 columns]

### Explore the Data

How much data did you just load?

In [84]:
# Count by hand. (lol kidding)
print(df_food.info())
print(df_food.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB
None
           Gender   breakfast  calories_chicken  calories_day  calories_scone  \
count  125.000000  125.000000        125.000000    106.000000      124.000000
mean     1.392000    1.112000        577.320000      3.028302      505.241935
std      0.490161    0.316636        131.214156      0.639308      230.840506
min      1.000000    1.000000        265.000000      2.000000      315.000000
25%      1.000000    1.000000        430.000000      3.000000      420.000000
50%      1.000000    1.000000        610.000000      3.000000      420.000000
75%      2.000000    1.000000        720.000000      3.000000      420.000000
max      2.000000    2.000000        720.000000      4.000000      980.000000

          coffee  comfort_food_reasons_coded        cook  \
count  125.00000                  106.000000  122.000000
mean     1.75200                    2.698113    2.786885
std      0.43359                    1.972042    1.038351
min      1.00000                    1.000000    1.000000
25%      2.00000                    2.000000    2.000000
50%      2.00000                    2.000000    3.000000
75%      2.00000                    3.000000    3.000000
max      2.00000                    9.000000    5.000000

       comfort_food_reasons_coded.1     cuisine  ...  persian_food  \
count                    125.000000  108.000000  ...    124.000000
mean                       2.688000    1.388889  ...      2.806452
std                        1.910987    0.974759  ...      1.423824
min                        1.000000    1.000000  ...      1.000000
25%                        2.000000    1.000000  ...      2.000000
50%                        2.000000    1.000000  ...      3.000000
75%                        3.000000    1.000000  ...      4.000000
max                        9.000000    6.000000  ...      5.000000

       self_perception_weight        soup      sports   thai_food  \
count              124.000000  124.000000  123.000000  125.000000
mean                 3.120968    1.217742    1.390244    3.336000
std                  1.115980    0.414385    0.489800    1.436528
min                  1.000000    1.000000    1.000000    1.000000
25%                  2.000000    1.000000    1.000000    2.000000
50%                  3.000000    1.000000    1.000000    3.000000
75%                  4.000000    1.000000    2.000000    5.000000
max                  6.000000    2.000000    2.000000    5.000000

       tortilla_calories  turkey_calories  veggies_day    vitamins  \
count         124.000000       125.000000   125.000000  125.000000
mean          947.580645       555.040000     4.008000    1.512000
std           202.090179       152.370379     1.081337    0.501867
min           580.000000       345.000000     1.000000    1.000000
25%           725.000000       500.000000     3.000000    1.000000
50%           940.000000       500.000000     4.000000    2.000000
75%          1165.000000       690.000000     5.000000    2.000000
max          1165.000000       850.000000     5.000000    2.000000

       waffle_calories
count       125.000000
mean       1073.400000
std         248.667092
min         575.000000
25%         900.000000
50%         900.000000
75%        1315.000000
max        1315.000000

[8 rows x 47 columns]

What are the columns and their types in this data set?

In [85]:
# Show the column names and their types.
print(df_food.info())
print(df_food.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB
None
           Gender   breakfast  calories_chicken  calories_day  calories_scone  \
count  125.000000  125.000000        125.000000    106.000000      124.000000
mean     1.392000    1.112000        577.320000      3.028302      505.241935
std      0.490161    0.316636        131.214156      0.639308      230.840506
min      1.000000    1.000000        265.000000      2.000000      315.000000
25%      1.000000    1.000000        430.000000      3.000000      420.000000
50%      1.000000    1.000000        610.000000      3.000000      420.000000
75%      2.000000    1.000000        720.000000      3.000000      420.000000
max      2.000000    2.000000        720.000000      4.000000      980.000000

          coffee  comfort_food_reasons_coded        cook  \
count  125.00000                  106.000000  122.000000
mean     1.75200                    2.698113    2.786885
std      0.43359                    1.972042    1.038351
min      1.00000                    1.000000    1.000000
25%      2.00000                    2.000000    2.000000
50%      2.00000                    2.000000    3.000000
75%      2.00000                    3.000000    3.000000
max      2.00000                    9.000000    5.000000

       comfort_food_reasons_coded.1     cuisine  ...  persian_food  \
count                    125.000000  108.000000  ...    124.000000
mean                       2.688000    1.388889  ...      2.806452
std                        1.910987    0.974759  ...      1.423824
min                        1.000000    1.000000  ...      1.000000
25%                        2.000000    1.000000  ...      2.000000
50%                        2.000000    1.000000  ...      3.000000
75%                        3.000000    1.000000  ...      4.000000
max                        9.000000    6.000000  ...      5.000000

       self_perception_weight        soup      sports   thai_food  \
count              124.000000  124.000000  123.000000  125.000000
mean                 3.120968    1.217742    1.390244    3.336000
std                  1.115980    0.414385    0.489800    1.436528
min                  1.000000    1.000000    1.000000    1.000000
25%                  2.000000    1.000000    1.000000    2.000000
50%                  3.000000    1.000000    1.000000    3.000000
75%                  4.000000    1.000000    2.000000    5.000000
max                  6.000000    2.000000    2.000000    5.000000

       tortilla_calories  turkey_calories  veggies_day    vitamins  \
count         124.000000       125.000000   125.000000  125.000000
mean          947.580645       555.040000     4.008000    1.512000
std           202.090179       152.370379     1.081337    0.501867
min           580.000000       345.000000     1.000000    1.000000
25%           725.000000       500.000000     3.000000    1.000000
50%           940.000000       500.000000     4.000000    2.000000
75%          1165.000000       690.000000     5.000000    2.000000
max          1165.000000       850.000000     5.000000    2.000000

       waffle_calories
count       125.000000
mean       1073.400000
std         248.667092
min         575.000000
25%         900.000000
50%         900.000000
75%        1315.000000
max        1315.000000

[8 rows x 47 columns]

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [86]:
# Remove ‚Äòem.
df_food_relevant = df_food[['calories_day', 'weight', 'gender']]

KeyError: "['gender'] not in index"

What about `NaN`s? How many are there?

In [ ]:
# Count ‚Äòem.
missing_values = df_food_relevant.isnull().sum()
print("Missing values in relevant columns:\n", missing_values)

We gotta remove those `NaN`s‚Äïthe entire row.

In [ ]:
# Drop ‚Äòem.
df_food_cleaned = df_food_relevant.dropna()

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [ ]:
# Fix that.

df_food_relevant = df_food[['calories_day', 'weight', 'gender']]

df_food_relevant['calories_day'] = pd.to_numeric(df_food_relevant['calories_day'], errors='coerce')

df_food_cleaned = df_food_relevant.dropna(subset=['calories_day'])

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [ ]:
# Savey save!
df_food_cleaned.to_csv('cleaned_food_data.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [ ]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df_salary = pd.read_csv('data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', delimiter='\t')
print(df_salary.head())

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [ ]:
# Count by hand. I‚Äôm dead serious.

df_salary = pd.read_csv('data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv.tsv', delimiter='\t')
df_salary.shape

What are the columns and their types?

In [87]:
# Show the column names and their types.
df_salary.columns
df_salary.dtypes

NameError: name 'df_salary' is not defined

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [ ]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df_salary.rename(columns={
    'Timestamp': 'timestamp',
    'Age': 'age',
    'Industry': 'industry',
    'Job title': 'title',
    'Additional context on job title': 'title_context',
    'Annual salary': 'salary',
    'Other monetary comp': 'additional_compensation',
    'Currency': 'currency',
    'Other currency': 'other_currency',
    'Additional context on income': 'salary_context',
    'Country': 'country',
    'State': 'state',
    'City': 'city',
    'Total years of experience': 'total_yoe',
    'Years of experience in field': 'field_yoe',
    'Highest level of education completed': 'highest_education_completed',
    'Gender': 'gender',
    'Race': 'race'
}, inplace=True)

df_salary.head()

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [ ]:
# List the unique industries and a count of their instances.

df_salary['industry'].value_counts()

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [ ]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

df_salary_tech = df_salary[df_salary['industry'] == 'Computing/Tech']

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [ ]:
# Sanity Check 

df_salary_tech['industry'].unique()

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [ ]:
# Filtery filter for just the jobs that pay in USD!

df_salary_tech_usd = df_salary_tech[df_salary_tech['currency'] == 'USD']

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [ ]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

df_salary_tech_usd['country'].value_counts()

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [ ]:
# Replace them all with 'US'.

top_countries = ['United States', 'USA', 'US', 'U.S.', 'United States of America']
df_salary_tech_usd['country'] = df_salary_tech_usd['country'].replace(top_countries, 'US')

Have a look at the count of each unique country again now.

In [ ]:
# Count again.

df_salary_tech_usd['country'].value_counts()

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [ ]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

df_salary_tech_usd.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values(by='mean', ascending=False)

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [ ]:
# Fix it.

df_salary_tech_usd['salary'] = pd.to_numeric(df_salary_tech_usd['salary'], errors='coerce')

Let‚Äôs try that again.

In [ ]:
# Try it again. Yeah!

df_salary_tech_usd.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values(by='mean', ascending=False)

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

df_salary_tech_usd['timestamp'] = pd.to_datetime(df_salary_tech_usd['timestamp'], errors='coerce')
df_salary_tech_recent = df_salary_tech_usd[df_salary_tech_usd['timestamp'].dt.year.isin([2021, 2022, 2023])]
df_salary_tech_recent.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values(by='mean', ascending=False)

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)