# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 

Yaacob Abdullah

SyntaxError: invalid syntax (3432549994.py, line 3)

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [ ]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [5]:

# Load data here
df = pd.read_csv('data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [6]:
# 1. How many listings are there with a price less than 100? 

listings_below_100 = df[df['price'] < 100]
count_below_100 = listings_below_100.shape[0]
print(f"Number of listings with a price less than 100: {count_below_100}")

# Number of listings with a price less than 100: 22778

Number of listings with a price less than 100: 22778

In [7]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn_listings = df[df['neighbourhood_group'] == 'Brooklyn']
count_brooklyn = brooklyn_listings.shape[0]
print(f"Number of listings in Brooklyn: {count_brooklyn}")

# Number of listings in Brooklyn: 18632

Number of listings in Brooklyn: 18632

In [8]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

brooklyn_below_100 = df[(df['neighbourhood_group'] == 'Brooklyn') & (df['price'] < 100)]
count_brooklyn_below_100 = brooklyn_below_100.shape[0]
print(f"Number of listings in Brooklyn with price less than 100: {count_brooklyn_below_100}")

# Number of listings in Brooklyn with price less than 100: 10473

Number of listings in Brooklyn with price less than 100: 10473

In [12]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
selected_hosts = df[df['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])]
print(selected_hosts)

             id                                               name    host_id  \
52        16595  LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...      64522
201       61747              Cozy,  Brooklyn, Prospect Park Studio     299370
209       62903  Beautiful modern studio apartment in heart of NYC     306605
220       64015                       Prime East Village 1 Bedroom     146944
260       74073       Food & Music Dream Apartment in Williamsburg     211877
...         ...                                                ...        ...
46362  44639591  Central & Stylish 1 Bedroom Apt - Heart of Che...  286136716
46396  44661297                       Flushing Sunshine home  #101  361579037
46403  44662157                        Flushing Sunshine home #102  361579037
46455  44697211                           Davidâ€™s Queen Sized Room  343477029
46508  44797527    Long-Term: Furnished Apt in Nolita w/ Amenities   19448640

      host_name neighbourhood_group              neighbourhood  latitude  \
52       Daniel            Brooklyn               Williamsburg  40.70933
201       David            Brooklyn  Prospect-Lefferts Gardens  40.65979
209      Daniel           Manhattan                    Chelsea  40.74238
220       David           Manhattan               East Village  40.72807
260      Daniel            Brooklyn               Williamsburg  40.71113
...         ...                 ...                        ...       ...
46362      John           Manhattan                    Chelsea  40.74568
46396    Daniel              Queens                   Flushing  40.74603
46403    Daniel              Queens                   Flushing  40.74441
46455     David              Queens               Far Rockaway  40.59460
46508     David           Manhattan                     Nolita  40.72289

       longitude        room_type  price  minimum_nights  number_of_reviews  \
52     -73.96792  Entire home/apt    271               1                172
201    -73.96180  Entire home/apt     91              14                 97
209    -73.99567  Entire home/apt    205              15                 68
220    -73.98594  Entire home/apt    200               3                  0
260    -73.96054  Entire home/apt    187              30                 90
...          ...              ...    ...             ...                ...
46362  -73.99694  Entire home/apt    110              30                  0
46396  -73.82837     Private room     52               1                  0
46403  -73.82829     Private room     55               1                  3
46455  -73.75875     Private room     95               1                  0
46508  -73.99400  Entire home/apt    140              30                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
52     2020-07-14               1.44                               1
201    2018-01-31               0.83                               1
209    2019-12-14               0.67                               2
220           NaN                NaN                               1
260    2020-07-31               0.81                               1
...           ...                ...                             ...
46362         NaN                NaN                               3
46396         NaN                NaN                               2
46403  2020-08-16               3.00                               2
46455         NaN                NaN                               1
46508         NaN                NaN                               1

       availability_365
52                  365
201                  44
209                  89
220                   0
260                 261
...                 ...
46362               110
46396               360
46403               365
46455               365
46508               282

[1258 rows x 16 columns]

In [13]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['adjusted_price'] = df.apply(lambda row: row['price'] + 100 if row['neighbourhood'] == 'Williamsburg' else row['price'], axis=1)
print(df[['neighbourhood', 'price', 'adjusted_price']])

            neighbourhood  price  adjusted_price
0                 Midtown    175             175
1            Clinton Hill     75              75
2      Bedford-Stuyvesant     60              60
3             Sunset Park    175             175
4          Hell's Kitchen     65              65
...                   ...    ...             ...
46522            Gramercy    145             145
46523  Washington Heights     87              87
46524       East Flatbush     59              59
46525     Upper West Side     80              80
46526           Gravesend     66              66

[46527 rows x 3 columns]

In [14]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  


room_counts = df['room_type'].value_counts(normalize=True) * 100
print(f"Percentage of private rooms: {room_counts.get('Private room', 0):.2f}%")
print(f"Percentage of shared rooms: {room_counts.get('Shared room', 0):.2f}%")

Percentage of private rooms: 45.44%
Percentage of shared rooms: 2.12%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [15]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

listings_by_neighbourhood_group = df.groupby('neighbourhood_group').size()
print(listings_by_neighbourhood_group)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [16]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

mean_price_by_neighbourhood_group = df.groupby('neighbourhood_group')['price'].mean()
print(mean_price_by_neighbourhood_group)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [20]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
mean_price_by_room_type = df.groupby('room_type')['price'].mean()
print(mean_price_by_room_type)

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [17]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

min_max_price_by_neighbourhood_group = df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])
print(min_max_price_by_neighbourhood_group)

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [18]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

median_price_by_room_and_neighbourhood_group = df.groupby(['neighbourhood_group', 'room_type'])['price'].median()
print(median_price_by_room_and_neighbourhood_group)

neighbourhood_group  room_type
Bronx                Entire home/apt    103.0
                     Private room        55.0
                     Shared room         44.0
Brooklyn             Entire home/apt    135.0
                     Hotel room         129.0
                     Private room        60.0
                     Shared room         36.0
Manhattan            Entire home/apt    165.0
                     Hotel room         210.0
                     Private room        80.0
                     Shared room         60.0
Queens               Entire home/apt    115.0
                     Hotel room         149.0
                     Private room        55.0
                     Shared room         40.0
Staten Island        Entire home/apt    111.0
                     Private room        55.0
                     Shared room         38.0
Name: price, dtype: float64

In [19]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

price_stats_by_room_and_neighbourhood_group = df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(
    ['count', 'min', 'max', 'mean', 'median', 'std']
)
print(price_stats_by_room_and_neighbourhood_group)

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [22]:
# 1. Load the `prices.csv` and the `n_listings.csv`


prices_df = pd.read_csv('data/prices.csv')
listings_df = pd.read_csv('data/n_listings.csv')

print(prices_df.head())
print(listings_df.head())

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214
  neighbourhood_group;n_listings
0                     Bronx;1183
1                 Brooklyn;18632
2                Manhattan;20580
3                LongIsland;4121

In [23]:
# 2. Do join that keeps all the records for each table.

merged_df = pd.merge(prices_df, listings_df, on='neighbourhood_group', how='outer')

required_neighbourhoods = ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'LongIsland']
filtered_merged_df = merged_df[merged_df['neighbourhood_group'].isin(required_neighbourhoods)]

print(filtered_merged_df)

KeyError: 'neighbourhood_group'

In [24]:
# 3. Save your joined csv as `joined.csv` into the data folder. 

filtered_merged_df.to_csv('data/joined.csv', index=False)

NameError: name 'filtered_merged_df' is not defined

In [26]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
loaded_df = pd.read_csv('data/joined.csv')
print(filtered_merged_df.equals(loaded_df))  
print(loaded_df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'data/joined.csv'

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.